body{
  font-family: 'Roboto', sans-serif;
  padding: 50px 0px;
  background: linear-gradient(196deg, #e70b0b);
  color: #030303;

}

.container{
  display: flex;
  width: 1500px;
  padding: 37px;
  flex-direction: column;
  background: rgba(0,0,0,0.1);
}

img{
  width: 500px;
  border-radius: 10px;
}

.name-container{
  margin-left: 15px;
}

header{
  display: flex;
}

h1{
  font-size: 230px;
  font-family: raleway;
  font-weight: 900;
  margin-left: 30px;
  margin-top: -20px;
}

h2{
  margin-left: 90px;
  margin-top: -40px;
  font-weight: 700;
  font-size: 50px;
  width: 500px;
}

.intro{
  display: inline-block;
  font-size: 50px;
}

.log{
  display: inline-block;
  font-size: 55px;
  margin-top: -10px;
}

.contact{
  margin-top: 190px;
  margin-left: -20px;
}

span{
  font-size: 40px;
}

a{
  color: black;
  margin-left: 15px;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
  font-size: 20px;
}

a:hover{
  opacity: 0.5;
  font-size: 30px;
}

footer{
  width: 190px;
  font-size: 20px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 650px;
  color: rgb(27, 26, 26);
  background-color: rgba(0,0,0,0.1);
}
